body {
  padding-left: 200px;
  padding-right: 200px;
}

.App {
  display: flex;
  justify-content: space-between;
}

.dinner-list {
  float: left;
  padding-right: 60px;
}

.add-dinner {
  display: flex;
  flex-direction: column;
}

.dinner-list-item {
  display: table; 
  width: 100px;
  height: 50px;  
}

.dinner-list-item-name {
  display: table-cell;
  text-align: left;
}

.dinner-list-item-icon {
  display: table-cell;
  text-align: right;
}